<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section>
        <div>
            <img width="200"  src="/images/logo-mercado-liebre.svg" alt="">
        </div>
    </section>
        <section class="buscar"> 
            Buscar producto, marca
         <div class="search">
            <i class="fas fa-search"></i>
        </div>
        </section>
        <section class="icono">
             <h3<i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i></h3>
        </section>
         
        <section>
            <nav>
                <ul>
                <li><a class="header-nav-ul-li-a" href="">Ofertas</a></li> 
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="#">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="#">Ingresá</a><i class="fas fa-sign-out-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </section>
         <section>
            <div><a class="burger" href=""><i class="fas fa-bars"></i></a></div>
        </section>
   </header>
    <main>
        <div>
            <img width="400" src="/images/img-home-banner.jpg" alt="">
       </div>
     <section>
         <h2>basado en tu ultima visita</h2>
         <article>
            <img  width="400" src="/images/img-cafetera-moulinex.jpg" alt="">
             <div>
                 <span>$6.700</span>
                 <p>40% OFF</p>
                 <h4>Cafetra Moulinex</h4>
             </div>
         </article>
         <article>
            <img width="400" src="/images/img-macbook-pro-2019.jpg" alt="">
            <div>
                <span>$230.000</span>
                <p>28% OFF</p>
                <h4>MacBook Pro 2019</h4>
            </div>
        </article>
        <article>
            <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <div>
                <span>$70.500</span>
                <p>10% OFF</p>
                <h4>Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
            <img  width="400"src="/images/img-tv-samsung-smart.jpg" alt=""> 
            <div>
                <span>$23.200</span>
                <p>5% OFF</p>
                <h4>SmartTV Samsung 43</h4>
            </div>
        </article>
     </section>
     <section>
         <h2>ofertas</h2>
         <article>
            <img width="400" src="/images/img-cafetera-moulinex.jpg" alt="">
            <div>
                <span>$6.700</span>
                <p>40% OFF</p>
                <h4>Cafetra Moulinex</h4>
            </div>
        </article>
        <article>
            <img width="400" src="/images/img-macbook-pro-2019.jpg" alt="">
           <div>
               <span>$230.000</span>
               <p>28% OFF</p>
               <h4>MacBook Pro 2019</h4>
           </div>
       </article>
       <article>
        <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="">
           <div>
               <span>$70.500</span>
               <p>10% OFF</p>
               <h4>Samsung Galaxy S10</h4>
           </div>
       </article>
       <article>
        <img width="400" src="/images/img-tv-samsung-smart.jpg" alt="">
           <div>
               <span>$23.200</span>
               <p>5% OFF</p>
               <h4>SmartTV Samsung 43</h4>
           </div>
       </article>
     </section>
    </main>
    <footer>
       <section>
        <i class="fas fa-credit-card"></i>
           <h3>Pagá con tarjeta o en efectivo</h3>
           <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
       </section>
       <section>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3> 
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
           productos. Es un beneficio de Mercado Puntos.</p>
       </section>
       <section>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
       </section>
       <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
</body>
</html>