*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; 
    width: 400px;
    margin: 0%;
    padding: 0%;
 
}
header{
    background-color:#EAC926; 
    font-size: 12px;
}
header section div img{
    margin-bottom: 10px;
}

header section .search{
    margin-bottom: 10px;
}
header .icono{
    text-align: center;
}
ul{
    padding-left: 0px;
}

li{
    list-style: none;
   
}
header a.burger{
    display: inline-block;
    background-color:#1259c3;;
    color: white;
    padding: 10px 10px 10px 10px ;
    border-radius: 4px;
    margin-left: 150px;
    font-size: 2em;
}
main section h2{
    font-size: 24px;
}
main section article div span{
    font-size: 18px;
}
main section article div p{
    font-size: 16px;
}
main section article div h4{
    font-size: 16px;
}
footer{
   text-align: center;
}
footer section i{
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
   
}
footer section h3{
    color: #666;
}
footer section p{
    color:#666; 
    text-align: unset;
}
